<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alunos</title>
    <style>
        img{
            border-radius: 20px;
            border: 1.5px solid;
        }
    </style>
</head>
<body>
    <!-- Title -->
    <h1>Hello World</h1>

    <!-- Image -->
    <img src="static/IMG_4259.jpg" alt="Dom Pedro I Rocker" width="20%">
    <br /><br />

    <!-- Paragraph tag -->
    <p>Hello one and all, and welcome to this here website</p>

    <!-- Hyperlink -->
    <a href="https://www.oceanbrasil.com/" target="_blank">Ocean Brasil</a>

    <!-- List -->
    <ul>
        <li>Luna</li>
        <li>Buggie</li>
        <li>Maple</li>
    </ul>

</body>
</html>